<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="table" >
  <table border="1">
    <thead>
    <tr>
      <th>No</th><th>User ID</th><th>Password</th><th>Full-name</th>
      <th>Email</th><th>Role</th><th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <!-- lặp qua "items" do Controller nhồi -->
    <tr th:each="user, st : ${items}">
      <td th:text="${st.index + 1}"></td>
      <td th:text="${user.id}"></td>
      <td th:text="${user.password}"></td>
      <td th:text="${user.fullname}"></td>
      <td th:text="${user.email}"></td>
      <td><span class="badge" th:text="${user.admin} ? 'Admin' : 'User'"></span></td>
      <td>
        <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> |
        <a th:href="@{'/users/delete/' + ${user.id}}" onclick="return confirm('Delete?')">Remove</a>
      </td>
    </tr>
    </tbody>
  </table>
</th:block>
</body>
</html>
